body {
    background: #fffece;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #ffe600;
  }
  
  .site-header .navbar-brand {
    color: #7c5500;
    font-size: x-large;
    font-weight: normal;
  }

  .site-header .navbar-brand:hover {
    color: #af8600;
    font-size: x-large;
  }

  .site-header .navbar-nav .nav-link {
    color: #303030;
    font-size: larger;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #af8600;
    font-size: larger;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: saddlebrown;
    box-shadow: #7c5500;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #e7d000;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    /* The line in the blog content */
    border-bottom: 1px solid #e3e3e3
  }

  .article-metadata a {
    color: #af8600;
    text-decoration: none;
  }
  
  .article-metadata a:hover {
    color: #664e00;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  